<!DOCTYPE html>
<html>
<head>
    <title>Mastodeck</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <div id="menu">
        <!-- <input type="image" src="logout.png" value="ログアウト" onclick="location.href='/logout'"> -->
        <input type="button" value="投稿" onclick="">
        <input type="button" value="検索" onclick="">
        <input type="button" value="アカウント追加" onclick="">
        <input type="button" value="プロフィール" onclick="">
        <input type="button" value="ログアウト" onclick="location.href='/logout'">
    </div>
    <div id="columns">
        <div id="column">
            <div id="top">Home</div>
            <% toots_home.forEach(function (value, key) {%>
            <div id="cell"><img src=<%= value.profile_img %> width=10% class="prof_img"><p class="id">@<%= value.id %></p>$<%= $(value.content) %></div>
            <% }); %>
        </div>
        <div id="column">
            <div id="top">Local</div>
            <% toots_local.forEach(function (value, key) {%>
            <div id="cell"><img src=<%= value.profile_img %> width=10% class="prof_img"><p class="id">@<%= value.id %></p><p class="content"><%= value.content %></p></div>
            <% }); %>
        </div>
        <div id="column">
            <div id="top">Public</div>
            <% toots_public.forEach(function (value, key) {%>
            <div id="cell"><img src=<%= value.profile_img %> width=10% class="prof_img"><p class="id">@<%= value.id %></p><p class="content"><%= value.content %></p></div>
            <% }); %>
        </div>
    </div>
</body>
</html>
