<!DOCTYPE html>
<html>
<head>
    <title>Mastodeck</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript">
    function load(field_name) {
        var req = new XMLHttpRequest();
        var field_url;
        switch (field_name) {
            case "home":
                field_url="timelines/home";
                break;
            case "local":
                field_url="timelines/public?local=on";
                break;

            case "public":
                field_url="timelines/public";
                break;
            default:
                field_url="";
        }
        req.open("get","<%= api_url %>"+field_url,true);
        req.responseType = "json" ;
        req.setRequestHeader("Authorization","Bearer "+ "<%= access_token %>");
        req.onload = function() {
            var home=document.getElementsByName(field_name).item(0);
            for (var i = 0; i < this.response.length; i++) {
                var cell = document.createElement('div');
                cell.id = 'cell';
                var prof_img = document.createElement('img');
                prof_img.src=this.response[i].account.avatar;
                prof_img.class="prof_img";
                prof_img.width="10%";
                cell.appendChild(prof_img);
                var id = document.createElement('p');
                id.class="id";
                id.innerHTML = '@' + this.response[i].account.username;
                cell.appendChild(id);
                cell.innerHTML += this.response[i].content;
                home.appendChild(cell);
            }
        }
        req.onerror = function() {
            console.log(this);
        }
        req.send() ;
    }
    </script>
</head>
<body>
    <div id="menu">
        <!-- <input type="image" src="logout.png" value="ログアウト" onclick="location.href='/logout'"> -->
        <input type="button" value="投稿" onclick="">
        <input type="button" value="検索" onclick="">
        <input type="button" value="アカウント追加" onclick="">
        <input type="button" value="プロフィール" onclick="">
        <input type="button" value="ログアウト" onclick="location.href='/logout'">
    </div>
    <div id="columns">
        <div id="column" name="home">
            <div id="top" >Home</div>
            <script type="text/javascript">
            load("home");
            </script>
            <!-- <% /*toots_home.forEach(function (value, key) {*/%>
            <div id="cell"><img src=<%= /*value.profile_img*/ %> width=10% class="prof_img"><p class="id">@<%/*= value.id */%></p><%/*- value.content */%></div>
            <%/* }); */%> -->
        </div>
        <div id="column" name="local">
            <div id="top">Local</div>
            <script type="text/javascript">
            load("local");
            </script>
            <!-- <% /*toots_local.forEach(function (value, key) {*/%>
            <div id="cell"><img src=<%= /*value.profile_img*/ %> width=10% class="prof_img"><p class="id">@<%/*= value.id */%></p><%/*- value.content */%></div>
            <%/* }); */%> -->
        </div>
        <div id="column" name="public">
            <div id="top">Public</div>
            <script type="text/javascript">
            load("public");
            </script>
            <!-- <% /*toots_public.forEach(function (value, key) {*/%>
            <div id="cell"><img src=<%= /*value.profile_img*/ %> width=10% class="prof_img"><p class="id">@<%/*= value.id */%></p><%/*- value.content */%></div>
            <%/* }); */%> -->
        </div>
    </div>
</body>
</html>
