<!DOCTYPE html>
<html>
<head>
    <title>Mastodeck</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript">
    function load(field_name, column_number) {
        var req = new XMLHttpRequest();
        var field_url;
        switch (field_name) {
            case "home":
                field_url="timelines/home";
                break;
            case "local":
                field_url="timelines/public?local=on";
                break;

            case "public":
                field_url="timelines/public";
                break;
            default:
                field_url="";
        }
        req.open("get","<%= api_url %>"+field_url,true);
        req.responseType = "json" ;
        req.setRequestHeader("Authorization","Bearer "+ "<%= access_token %>");
        req.onload = function() {
            var main = getElementByNumber(document.getElementsByName(field_name), column_number);
            while (main.firstChild) {
                main.removeChild(main.firstChild);
            }
            this.response.forEach(function(data) {
                var cell = document.createElement('div');
                cell.id = 'cell';

                var prof_img = document.createElement('img');
                prof_img.src=data.account.avatar;
                prof_img.className="prof_img";
                cell.appendChild(prof_img);

                var name = document.createElement('h4');
                name.innerHTML = data.account.display_name;
                name.className = "username";
                cell.appendChild(name);

                var id = document.createElement('p');
                id.className="id";
                id.innerHTML = '@' + data.account.username;
                cell.appendChild(id);

                var content = document.createElement('div');
                content.className = "content";
                content.innerHTML = data.content;
                cell.appendChild(content);

                main.appendChild(cell);
            });
        }
        req.onerror = function() {
            console.log(this);
        }
        req.send() ;
    }

    function getElementByNumber(elements,number){
        var correct_element = elements[0];
        elements.forEach(function(element){
            if(element.getAttribute('number')==number){
                return correct_element=element;
            }
        });
        return correct_element;
    }
    function addColumn(field_name){
        var columns = document.getElementById("columns");

        var newColumn = document.createElement('div');
        newColumn.id = "column";
        newColumn.setAttribute('name',field_name);
        newColumn.setAttribute('number',columns.children.length+1);

        var top = document.createElement('div');
        top.id="top";
        top.innerHTML = field_name;
        newColumn.appendChild(top);

        columns.appendChild(newColumn);
        load(field_name,String(columns.children.length));
    }

    function refresh(){
        var columns = document.getElementById("columns");
        Array.prototype.forEach.call(columns.children,function(column){
            load(column.getAttribute("name"),column.getAttribute("number"));
        });
    }

    setInterval("refresh()",10000);
    </script>
</head>
<body>
    <div id="menu">
        <!-- <input type="image" src="logout.png" value="ログアウト" onclick="location.href='/logout'"> -->
        <input type="button" value="投稿" onclick="">
        <input type="button" value="検索" onclick="">
        <input type="button" value="アカウント追加" onclick="">
        <input type="button" value="プロフィール" onclick="">
        <label style="color: white;">add</label>
        <input type="button" value="home" onclick="addColumn('home')">
        <input type="button" value="public" onclick="addColumn('public')">
        <input type="button" value="local" onclick="addColumn('local')">
        <input type="button" value="ログアウト" onclick="location.href='/logout'">
    </div>
    <div id="columns">
        <div id="column" name="home" number="1">
            <div id="top">Home</div>
            <script type="text/javascript">
            load("home",1);
            </script>
            <!-- <% /*toots_home.forEach(function (value, key) {*/%>
            <div id="cell"><img src=<%= /*value.profile_img*/ %> width=10% class="prof_img"><p class="id">@<%/*= value.id */%></p><%/*- value.content */%></div>
            <%/* }); */%> -->
        </div>
        <div id="column" name="local" number="2">
            <div id="top">Local</div>
            <script type="text/javascript">
            load("local",2);
            </script>
            <!-- <% /*toots_local.forEach(function (value, key) {*/%>
            <div id="cell"><img src=<%= /*value.profile_img*/ %> width=10% class="prof_img"><p class="id">@<%/*= value.id */%></p><%/*- value.content */%></div>
            <%/* }); */%> -->
        </div>
        <div id="column" name="public" number="3">
            <div id="top">Public</div>
            <script type="text/javascript">
            load("public",3);
            </script>
            <!-- <% /*toots_public.forEach(function (value, key) {*/%>
            <div id="cell"><img src=<%= /*value.profile_img*/ %> width=10% class="prof_img"><p class="id">@<%/*= value.id */%></p><%/*- value.content */%></div>
            <%/* }); */%> -->
        </div>
    </div>
</body>
</html>
